@use '../../styles/abstracts/media.scss' as media;

.errorBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 50px;
    background: rgba(255, 0, 0, .5);
    border-left: 5px solid red;
    color: #FFF;
    padding: 20px;
    small{
        position: absolute;
        top: 5px;
        right: 3%;
        cursor: pointer;
    }
    @include media.md{
        width: 100%;
        min-height: 30px;
    }
}